header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #111;
  display: flex;
  align-items: center;
  color: white;
}

header a {
  color: #ccc;
  margin: 0 10px;
}

header a.active {
  color: white;
}

main {
  margin-top: 45px;
  padding: 10px;
}
